<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--接口和映射文件相对应-->
<mapper namespace="com.example.mindu_backend.mapper.SdgtMapper">
    <!--主要写sql语句,一个方法对应一个sql语句-->
    <!--
        mapper接口和映射文件要保持两个一致
        1.mapper接口的全类名和映射文件的namespace一致
        2.mapper接口中的方法名要和映射文件的sql的id保持一致
    -->
    <!--int insertUser()-->
</mapper>